<div class="card tradeCard">
    <div class="trashCard center">
        <span class="center trade-title">You want <a href="/user/{{giver.id}}">{{giver.username}}</a>'s:</span>
        <div class="card teal {{rarityCheck giving.trash.rarity}}">
            <div class="card-image">
                <img class="trashImage{{giving.id}} materialboxed" src="{{stillGif giving.trash.image}}">
                <span class="trashCard-title center card-title">{{giving.trash.name}}</span>
            </div>
            <div class="card-content">
                <p class="cardText">Category: {{giving.trash.category}}</p>
                <p class="cardText"><strong>{{rarityCheck giving.trash.rarity}}</strong></p>
            </div>
        </div>
    </div>
    <div class="trashCard center">
        <span class="trade-title center">For Your:</span>
        <div class="card teal {{rarityCheck getting.trash.rarity}}">
            <div class="card-image">
                <img class="trashImage{{getting.id}} materialboxed" src="{{stillGif getting.trash.image}}">
                <span class="trashCard-title center card-title">{{getting.trash.name}}</span>
            </div>
            <div class="card-content">
                <p class="cardText">Category: {{getting.trash.category}}</p>
                <p class="cardText"><strong>{{rarityCheck getting.trash.rarity}}</strong></p>
            </div>
        </div>
    </div>
    <div class="trade-confirm center">
        <a title="Get that ish outta here!" class="waves-effect waves-light btn denyBtn center" data-tradeId="{{id}}"><i data-tradeId="{{id}}" class="fas fa-ban"></i></a>
    </div>
</div>
    <script>
    $(function() {
    $(".trashImage{{giving.id}}").hover(
        function() {
            $(this).attr("src", "{{giving.trash.image}}");
        },
        function() {
            $(this).attr("src", "{{stillGif giving.trash.image}}");
        }                         
    );                  
    $(".trashImage{{getting.id}}").hover(
        function() {
            $(this).attr("src", "{{getting.trash.image}}");
        },
        function() {
            $(this).attr("src", "{{stillGif getting.trash.image}}");
        }                         
    );                  
});
</script>